services:
    redis:
        image: redis:alpine
        container_name: filament-cashflow-redis
        restart: "no"
        ports:
            - "6379:6379"
        command: >
            redis-server
            --appendonly yes
        volumes:
            - redis-data:/data

volumes:
    redis-data:
        driver: local
